<div>

  <h5>Dashboard</h5>
  <div class="list-group mb-3">
    <a routerLink="/account"
       class="list-group-item list-group-item-action"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
  </div>


  <!--Persons block-->
  <h5>Profiles</h5>
  <div class=" persons list-group mb-3">
    <a routerLink="/account/persons"
       class="list-group-item list-group-item-action"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      Your profiles
    </a>
    <a routerLink="/account/person/create"
       class="list-group-item list-group-item-action"
       routerLinkActive="active">Add profile
    </a>
  </div>
  <!--End Persons block-->


  <!--Persons block-->
  <h5>Messages</h5>
  <div class="persons list-group mb-3">
    <a routerLink="/account/messages"
       class="list-group-item list-group-item-action"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Messages
    </a>

  </div>
  <!--End Persons block-->


</div>
