<h2>Profiles</h2>
<table class="table table-striped">
  <thead class="table-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Slug</th>
    <th scope="col">Open</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of persons">
    <th scope="row">{{person.id}}</th>
    <td>{{person.name}}</td>
    <td>{{person.slug}}</td>
    <td>
      <a [routerLink]="'/person/'+person.id">Open</a>
    <td>
      <a [routerLink]="'/account/person/edit/'+person.id" class="btn btn-warning">Edit</a>
    <td>
      <a href="" class="btn btn-danger">Delete</a>
    </td>
  </tr>

  </tbody>
</table>
