.images {
  flex: 1 0;
  min-width: 200px;
  max-width: 460px;
}

.desc {
}

.params {
  flex: 1 1;
}

.chars {

  .chars-left-side, .chars-right-side {
    flex: 1 1 200px;
  }


  .char-title {
    font-weight: 600;
  }

  .char-title, .char-value {
    flex: 1;
  }


}



