.images {
  flex: 2 0;
  min-width: 200px;
  max-width: 460px;
}

.desc {
}

.params {
  flex: 2 1;
}

.chars {

  .chars-left-side, .chars-right-side {
    flex: 1 1 200px;
  }


  .char-title {
    font-weight: 600;
  }

  .char-title, .char-value {
    flex: 1;
  }


}


.rates-services {
  .rates, .services {
    flex: 1 1;

    .card-body {
      overflow-x: auto;

      @media screen and (max-width: 576px) {
        padding: 0;
      }
    }
  }

}

table {
  min-width: 200px;

  tr {
    display: flex;

    td, th {
      flex: 1 0 75px;
      padding: 10px 3px;
    }
  }
}

