form {
  select {
    option:checked {
      background: #cfdbe7;
      font-weight: 700;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.image-preview {
  max-width: 250px;
  max-height: 250px;
}
