<div class="container">
  <div class="part d-flex flex-wrap py-3">
    <div class="col-6 col-sm-4 col-md-3">
      <h4>Block 1</h4>
      <a routerLink="/">Link</a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <h4>Block 2</h4>
      <a routerLink="/">Link</a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <h4>Block 3</h4>
      <a routerLink="/">Link</a>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <h4>Block 4</h4>
      <a routerLink="/">Link</a>
    </div>
  </div>
</div>

