.card {
  transition: .3s;

  & p {
    color: #3f3f3f;
  }

  & .title {
    font-weight: 500;
  }


  .image-block {
    position: relative;
    overflow: hidden;

    img {
      transition: .3s;
      min-height: 180px;
    }
  }

  &:hover {
    opacity: .8;
    border-color: gray;

    & a img {
      transform: scale(1.1);
    }

  }
}
