<div class="d-flex flex-wrap align-items-baseline">
  <h2>People</h2>

  <!--Country and city names in title-->
  <h4 class="ms-2">
    <span *ngIf="locationService.activeCountry">{{locationService.activeCountry.name}}</span>
    <span *ngIf="locationService.activeCity">, {{locationService.activeCity.name}}</span>
  </h4>
  <!--End country and city names in title-->

</div>

<!--Filters-->
<h5>Filters</h5>
<div class="d-flex flex-wrap align-items-baseline mb-2 rounded border p-2">
  <!--Filter gender-->
  <div class="d-flex flex-column me-3 p-2 border rounded">
    <div class="d-flex flex-wrap justify-content-between w-100">
      <div class="mb-2">Gender</div>

      <!--Reset gender button-->
      <div class="btn btn-close"
           (click)="genderSelected='All'; updateGenderFilter()"
           *ngIf="genderSelected != 'All'"></div>
      <!--End reset gender button-->
    </div>

    <!--Gender radio buttons-->
    <div class="d-flex flex-wrap">
      <div class="col-auto me-2">
        <input (change)="updateGenderFilter()"
               [(ngModel)]="genderSelected"
               class="btn-check"
               id="gender-all"
               type="radio"
               value="All">
        <label for="gender-all" class="btn btn-outline-secondary">All</label>
      </div>

      <div class="col-auto me-2">
        <input (change)="updateGenderFilter()"
               [(ngModel)]="genderSelected"
               class="btn-check"
               id="gender-male"
               type="radio"
               value="Male">
        <label for="gender-male" class="btn btn-outline-secondary">Male</label>
      </div>

      <div class="col-auto">
        <input (change)="updateGenderFilter()"
               [(ngModel)]="genderSelected"
               class="btn-check"
               id="gender-female"
               type="radio"
               value="Female">
        <label for="gender-female" class="btn btn-outline-secondary">Female</label>
      </div>
    </div>
    <!--End gender radio buttons-->

  </div>
  <!--End Filter gender-->

  <!--Filter age-->
  <div class="d-flex flex-column align-items-baseline p-2 border rounded">
    <div class="d-flex flex-wrap justify-content-between w-100">
      <div class="mb-2">Age</div>

      <!--Clear age filter-->
      <div class="btn btn-close"
           (click)="ageFromSelected=18; ageToSelected=100; updateAgeRange()"
           *ngIf="ageFromSelected > 18 || ageToSelected < 100"></div>
      <!--End clear age filter-->
    </div>

    <div class="d-flex flex-wrap align-items-center">
      <div class="me-2">
        <select class="form-select" [(ngModel)]="ageFromSelected" name="ageFromSelected"
                (change)="updateAgeRange()">
          <option *ngFor="let age of ageRange" [ngValue]="age">{{age}}</option>
        </select>
      </div>

      <span class="me-2">-</span>

      <div>
        <select class="form-select" [(ngModel)]="ageToSelected" name="ageToSelected"
                (change)="updateAgeRange()">
          <option *ngFor="let age of ageRangeFiltered" [ngValue]="age">{{age}}</option>

        </select>
      </div>
    </div>
  </div>
  <!--End Filter age-->
</div>
<!--End Filters-->


<div class="persons-block d-flex flex-wrap mb-3" *ngIf="!loading && personsFiltered?.items">
  <div class="person-card" *ngFor="let person of personsFiltered?.items">
    <a [routerLink]="'/person/' + person.id">
      <app-person-card [path]="host" [person]="person"></app-person-card>
    </a>
  </div>
</div>

<!--If no persons and loading is over-->
<div *ngIf="(!personsFiltered?.items|| personsFiltered.items.length == 0) && !loading && !timeId">No persons</div>

<!--Show preloader while fetching a data-->
<div *ngIf="loading" class="d-flex flex-wrap">
  <div class="col-6 col-lg-3 col-xl-2 px-3 my-2" *ngFor="let person of [1,2,3,4,5,6,7,8,9,10,11,12]">
    <app-person-card-placeholder></app-person-card-placeholder>
  </div>
</div>


<app-pagination
  (click)="scrollToTop()"
  *ngIf="persons && persons.pagination && persons.pagination.last_page > 1"
  [pagination]="persons.pagination"
  [route]="paginatedRoute"></app-pagination>




