<h2>Edit Profile {{personId}}</h2>

<div class="btn-group mb-3">
  <a class="btn btn-outline-secondary" routerLink="/account/person/edit/{{personId}}">Edit base</a>
  <a class="btn btn-outline-secondary" routerLink="/account/person/edit/{{personId}}/chars">Edit characteristics</a>
  <a class="btn btn-outline-secondary" routerLink="/account/person/edit/{{personId}}/images">Edit images</a>
  <a class="btn btn-outline-secondary" routerLink="/account/person/edit/{{personId}}/phones">Edit phones</a>
</div>


<router-outlet></router-outlet>
