<form (ngSubmit)="submitForm()" #ngForm="ngForm">
  <label class="required mb-3"></label><span> - required fields</span>

  <div class="mb-3">
    <label class="form-label required" for="name">Name</label>
    <input
      [(ngModel)]="person.name"
      class="form-control"
      id="name"
      name="name"
      #name="ngModel"
      required
      type="text">
  </div>
  <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
    Name is required
  </div>

  <div class="mb-3">
    <label class="form-label" for="description">Description</label>
    <textarea [(ngModel)]="person.description"
              class="form-control"
              id="description"
              name="description"
              rows="5"
              type="text"></textarea>
  </div>

  <!--Select location-->
  <app-account-person-select-location
    [person]="person"></app-account-person-select-location>
  <!--End Select location-->

  <!--Image upload-->
  <h2>Image</h2>
  <div class="mb-3">
    <label class="form-label" for="image">Main Photo</label>
    <input #imageModel="ngModel"
           (change)="onFileSelected($event)"
           [(ngModel)]="image"
           class="form-control"
           id="image"
           required
           name="image"
           type="file">
  </div>
  <!--End Image upload-->

  <div class="alert alert-danger" *ngIf="imageModel.invalid">
    Image is required. Allowed file types gif, png, jpeg. File size up to 20 MB
  </div>

  <div class="" *ngIf="person.image && !selectedFile">
    <h4>Uploaded image</h4>
    <div>
      <img [src]="path +'/'+person.image" alt="image">
    </div>
  </div>


  <!--Submit person button-->
  <div class="mb-3">
    <button
      [disabled]="ngForm.pristine
      || ngForm.untouched
      || ngForm.invalid"
      class="btn btn-success" type="submit">Update Profile
    </button>
  </div>
  <!--End Submit person button-->
</form>

